/* You can add global styles to this file, and also import other style files */
/* colors */
.dark_blue{
    background:#0A2D49 !important;
}
.light_blue{
    background: #6BB8F5 !important;
}
.blue{
    background: #2196f3 !important;
}
.blue_alt{
    background: #1A77C0 !important;
}
.faded_blue{
    background: #325773 !important;
}

/* positioning */

.center{
    margin: 0 auto;
}

/* buttons */

.btn{
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2%;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1.5em;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
}
.btn, .btn_large {
    text-decoration: none;
    color: #fff;
    background-color: #2196f3;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn_floating {
    /* display: inline-block; */
    color: #fff;
    position: absolute;
    top: -20px;
    left: 93%;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #2196f3;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.25rem;
  }
  
.btn_floating:hover {
    background-color: #2196f3 !important;
}
  
.btn:hover, .btn_large:hover {
    background-color: #6BB8F5 !important;
}

/* cards */

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background: rgba(0,0,0,.05);
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    font-size: 1.2rem;
    padding: 3% 5%;
}
.card .card-title {
    display: block;
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid #cdcdcd;
}

/* document */

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Robot', sans-serif;
    color: #3a3a3a;
}
.container{
    margin: 0 auto;
    width: 70%;
}
nav {
  color: #fff;
  background-color: #2196f3;
  width: 100%;
  min-height: 56px;
  line-height: 56px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)
}
nav a{
    text-decoration: none;
}
nav ul {
    margin: 0;
    list-style: none;
    float: right;
}
  
nav ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
}
nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
  
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1em;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
nav .brand_logo {
    float: left;
    color: #fff;
    font-size: 2.1rem;
    padding: 0;
}

#about{
    display: flex;
    width: 40%;
    margin-top: 2%;
}
#lang_selection{
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-top: 2%;
}
#lang_module_wrap{
    margin-top: 3%;
    padding: 2%;
    border-top: 1px solid #cdcdcd;
}