<h1>JavaScript</h1>

<div class="wrapper" *ngIf="jsFlashCodes">
  <div class="front" ontouchstart="this.classList.toggle('hover');">
    <div class="inner">
      <span>{{ currentFlashCode.question }}</span>
    </div>
  </div>
  <div class="back" ontouchstart="this.classList.toggle('hover');">
    <div class="inner">
      <p>{{ currentFlashCode.answer }}</p>
    </div>
  </div>
</div>

<div id="next_wrapper">
  <div class="btn blue" (click)="nextFC()">&nbsp;&nbsp;&nbsp; Next &nbsp;&nbsp;&nbsp;</div>
</div>

{{ rand }}